# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environments
venv/
env/
.venv/

# Environment variables
.env
.env.*

# Django
*.sqlite3
db.sqlite3
local_settings.py

# Static files (COLLECTED)
static/

# Media uploads
media/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# IDEs
.vscode/
.idea/

# Temporary / misc
# commands.txt
KGS.json