{% extends 'base_dashboard.html' %}
{% load static %}

{% block content %}

 <section class="sec-padding">
    <div class="container">
     <div class="row">
     <div class="col-md-6 col-centered">
     <div class="text-box padding-3 border">

     <div class="bmargin">

        	<h3>Registration Form</h3>
          {% include 'includes/alerts.html' %}
            <form method="POST" action="{% url 'register' %}" id="account">
              {% csrf_token %}
            	<div class="form-body">

                	<label for="names" class="field-label">Your names</label>
                	<div class="frm-row">

                    <div class="form-group">
                      <label for="{{ form.first_name.id_for_label }}">First Name</label>
                      {{ form.first_name }}
                    </div>
                    <div class="form-group">
                      <label for="{{ form.last_name.id_for_label }}">Last Name</label>
                      {{ form.last_name }}
                    </div>

                  </div><!-- end frm-row section -->

                  <div class="form-group">
                    <label for="{{ form.email.id_for_label }}">Email Address</label>
                    {{ form.email }}
                  </div>
                  <div class="form-group">
                    <label for="{{ form.phone_number.id_for_label }}">Phone Number</label>
                    {{ form.phone_number }}
                  </div>

                  <div class="form-group">
                  	<label for="{{ form.password.id_for_label }}">Create a password</label>
                      	{{ form.password }}
                  </div><!-- end section -->

              	  <div class="form-group">
                  	<label for="{{ form.confirm_password.id_for_label }}">Confirm your password</label>
                      	{{ form.confirm_password }}
                  </div><!-- end section -->

                </div><!-- end .form-body section -->
                <div class="form-group">
                	<button type="submit" class="button btn-primary orange-2">Create Account</button>
                </div><!-- end .form-footer section -->
            </form>

        </div></div></div>

     </div>
     <!--end item-->

    </div>
  </section>
  <!--end item -->
  <div class="clearfix"></div>
  {% endblock %}
