{% extends "admin/base_site.html" %}
{% load static %}

{% block extrahead %}
  {{ block.super }}
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/logo/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/logo/favicon-16x16.png' %}">
  <link rel="apple-touch-icon" href="{% static 'img/logo/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="192x192" href="{% static 'img/logo/android-chrome-192x192.png' %}">
  <link rel="icon" type="image/png" sizes="512x512" href="{% static 'img/logo/android-chrome-512x512.png' %}">
  <link rel="shortcut icon" href="{% static 'img/logo/favicon.ico' %}">
{% endblock %}
