{% load static %}
<section class="section-copyrights section-less-padding" style="background-color: #2e43ab;">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class=" social-icons-3">
          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <!-- <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li> -->
          <li><a href="#"><i class="fa fa-instagram"></i></a></li>
          <li><a href="#"><i class="fa fa-youtube"></i></a></li>
        </ul>
        <div class="clearfix"></div>
        <br/>
        <span class="footer-text"> 
          &copy; 2025 Powered by 
          <a href="https://github.com/King-Greatman-Spirit" class="footer-link">King Greatman Spirit</a>  
          | All rights reserved.
        </span>
      
      </div>
    </div>
  </div>
</section>
